{{- if .Type.Complex -}}
rsschema.ListNestedAttribute{
    NestedObject: rsschema.NestedAttributeObject{
        Attributes: resourceSchemaAttrs{{ .Type.NestedType.GoTypeName }}({{ RecurseCutOff .Parent }}),
    },
{{- if eq .Type.RSSchemaTemplateData.Mode "Computed_UseStateForUnknown" }}
    Computed: true,
	PlanModifiers: []planmodifier.List{listplanmodifier.UseStateForUnknown()},
{{- else }}
    {{ .Type.RSSchemaTemplateData.Mode }}: true,
{{- end }}
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}
{{- else -}}
rsschema.ListAttribute{
    ElementType: {{ .Type.RSSchemaTemplateData.ElementType }},
    {{ .Type.RSSchemaTemplateData.Mode }}: true,
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}
{{- end }}