package provider

import (
	"fmt"
	"time"

	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
	keyhubmodel "github.com/topicuskeyhub/sdk-go/models"
)

{{- range $name, $type := . }}
{{- if $type.IsObject }}
{{ template "datastruct.go.tmpl" $type }}
{{- end }}
{{- end }}

func init() {
{{- range $name, $type := . }}
{{- if $type.IsObject }}
{{ template "objectattrstype.go.tmpl" $type }}
{{- end }}
{{- end }}
}

{{- range $name, $type := . }}
{{- if $type.IsObject }}
{{ template "tkhtotfobject.go.tmpl" $type }}
{{- end }}
{{- end }}

{{- range $name, $type := . }}
{{- if $type.IsObject }}
{{ template "tfobjecttodatastruct.go.tmpl" $type }}
{{- end }}
{{- end }}

func SliceToTF[T interface{}](elemType attr.Type, vals []T, toValue func(T, *diag.Diagnostics) attr.Value) (attr.Value, diag.Diagnostics) {
	var diags diag.Diagnostics
	ret := make([]attr.Value, len(vals))
	for _, curVal := range vals {
		ret = append(ret, toValue(curVal, &diags))
	}
	return types.ListValue(elemType, ret)
}

func Int32PToInt64P(in *int32) *int64 {
	if in == nil {
		return nil
	}
	ret := int64(*in)
	return &ret
}

func StringerToTF[T fmt.Stringer](val *T) attr.Value {
	if val == nil {
		return types.StringNull()
	}
	return types.StringValue((*val).String())
}

func TimeToTF(val time.Time) attr.Value {
	ret, _ := val.MarshalText()
	return types.StringValue(string(ret))
}

func TimePointerToTF(val *time.Time) attr.Value {
	if val == nil {
		return types.StringNull()
	}
	ret, _ := val.MarshalText()
	return types.StringValue(string(ret))
}