func fillDataStructFromTFObject{{ .GoTypeName }}(data *{{ .DataStructName }}, obj types.Object) {
{{- range .AllProperties }}
    data.{{ .GoName }} = obj.Attributes()["{{ .TFName }}"].({{ .Type.TFValueType }})
{{- end }}
}
