{{- if .Type.Complex -}}
schemaAttrs["{{ .TFName }}"] = dsschema.ListNestedAttribute{
    NestedObject: dsschema.NestedAttributeObject{
        Attributes: dataSourceSchemaAttrs{{ .Type.NestedType.GoTypeName }}({{ RecurseCutOff .Parent }}),
    },
    Computed: true,
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}
{{- else -}}
schemaAttrs["{{ .TFName }}"] = dsschema.{{ .Type.DSSchemaTemplateData.SchemaAttributeType }}{
    ElementType: {{ .Type.DSSchemaTemplateData.ElementType }},
    Computed: true,
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}
{{- end }}