{{ .Type.DSSchemaTemplateData.Type }}{
{{- if .Type.DSSchemaTemplateData.Required }}
    Required: recurse,
    Computed: !recurse,
{{- else }}
    Computed: true,
{{- end }}
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}