var {{ .ObjectAttrTypesName }}{{ .Suffix }} = objectAttrsType{{ .Suffix }}{{ .GoTypeName }}(false)
var {{ .ObjectAttrTypesName }}{{ .Suffix }}Recurse = objectAttrsType{{ .Suffix }}{{ .GoTypeName }}(true)
type {{ .DataStructName }}{{ .Suffix }} struct {
{{- range .AllProperties }}
	{{ .GoName }} {{ .TFType }} `tfsdk:"{{ .TFName }}"`
{{- end }}
}
