func objectAttrsType{{ .Suffix }}{{ .GoTypeName }}(recurse bool) map[string]attr.Type {
    objectAttrs := make(map[string]attr.Type)
{{- with AdditionalObjectsProperty . }}
    if recurse {
{{- range .Type.NestedType.AllProperties }}
        objectAttrs["{{ .TFName }}"] = {{ .TFAttrType true }}
{{- end }}
    }
{{- end }}
{{- range AllDirectProperties . }}
    objectAttrs["{{ .TFName }}"] = {{ .TFAttrType false }}
{{- end }}
    return objectAttrs
}
