func objectAttrsType{{ .Suffix }}{{ .GoTypeName }}(recurse bool) map[string]attr.Type {
    objectAttrs := make(map[string]attr.Type)
{{- range AdditionalObjectsProperties . }}
    if recurse {
{{- if eq .TFName "additional_objects" }}
{{- range .Type.NestedType.AllProperties }}
        objectAttrs["{{ .TFName }}"] = {{ .TFAttrType true }}
{{- end }}
{{- else }}
    objectAttrs["{{ .TFName }}"] = {{ .TFAttrType false }}
{{- end }}
    }
{{- end }}
{{- range AllDirectProperties . }}
    objectAttrs["{{ .TFName }}"] = {{ .TFAttrType false }}
{{- end }}
    return objectAttrs
}
