{{- define "propreorder" }}
{{- if and (ne .Type.OrderMode "None") .IsNotComputed }}
{{- if eq .Type.OrderMode "AdditionalObjects" }}
    maps.Copy(obj, reorder{{ .Type.NestedType.GoTypeName }}(state, priorState, false).Attributes())
{{- else if eq .Type.OrderMode "Object" }}
    obj["{{ .TFName }}"] = reorder{{ .Type.NestedType.GoTypeName }}(state.Attributes()["{{ .TFName }}"].(types.Object), priorState.Attributes()["{{ .TFName }}"].(types.Object), recurse)
{{- else if eq .Type.OrderMode "ItemsList" }}
    {
        attrState := state.Attributes()["{{ .TFName }}"]
        attrPriorState := priorState.Attributes()["{{ .TFName }}"]
        if attrState.IsNull() || attrState.IsUnknown() || attrPriorState.IsNull() || attrPriorState.IsUnknown() {
            obj["{{ .TFName }}"] = attrState
        } else {
            attrStateEl := (attrState.(types.List)).Elements()
            attrPriorStateEl := (attrPriorState.(types.List)).Elements()
            newAttrState := reorderList(attrStateEl, attrPriorStateEl, recurse, []string{
{{- range IdentifyingProperties (ItemsProperty .Type.NestedType.AllProperties).Type.NestedType }}
                "{{ .TFName }}",
{{- end }}
            }, reorder{{ (ItemsProperty .Type.NestedType.AllProperties).Type.NestedType.GoTypeName }})
            obj["{{ .TFName }}"] = types.ListValueMust(attrs["{{ .TFName }}"].(types.ListType).ElemType, newAttrState)
        }
    }
{{- else }}
	// Reordering not supported for {{ .TFName }} with type {{ .Type.OrderMode }}
{{- end }}
{{- end }}
{{- end }}
func reorder{{ .GoTypeName }}(state basetypes.ObjectValue, priorState basetypes.ObjectValue, recurse bool) basetypes.ObjectValue {
    if state.IsNull() || state.IsUnknown() || priorState.IsNull() || priorState.IsUnknown() {
        return state
    }
    var attrs map[string]attr.Type
    if recurse {
        attrs = {{ .ObjectAttrTypesName }}{{ .Suffix }}Recurse
    } else {
        attrs = {{ .ObjectAttrTypesName }}{{ .Suffix }}
    }
    obj := filterAttributes(state.Attributes(), attrs)
{{- range AdditionalObjectsProperties . }}
    if recurse {
{{- template "propreorder" . }}
    }
{{- end }}
{{- range AllDirectProperties . }}
{{- template "propreorder" . }}
{{- end }}

    return types.ObjectValueMust(attrs, obj)
}
