{{- if .Type.Complex -}}
rsschema.ListNestedAttribute{
    NestedObject: rsschema.NestedAttributeObject{
        Attributes: resourceSchemaAttrs{{ .Type.NestedType.GoTypeName }}({{ RecurseCutOff .Parent }}),
    },
{{- else -}}
rsschema.ListAttribute{
    ElementType: {{ .Type.RSSchemaTemplateData.ElementType }},
{{- end }}
{{- if eq .Type.RSSchemaTemplateData.Mode "Computed_UseStateForUnknown" }}
    Computed: true,
	PlanModifiers: []planmodifier.List{listplanmodifier.UseStateForUnknown()},
{{- else if eq .Type.RSSchemaTemplateData.Mode "Optional_Computed" }}
    Optional: true,
    Computed: true,
{{- template "common_schema_attr_validators.go.tmpl" . }}
{{- else }}
    {{ .Type.RSSchemaTemplateData.Mode }}: true,
{{- template "common_schema_attr_validators.go.tmpl" . }}
{{- end }}
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
}