schemaAttrs["{{ .TFName }}"] = {{ .Type.RSSchemaTemplateData.Type }}{
{{- if eq .Type.RSSchemaTemplateData.Mode "Optional_Default" }}
    Computed: true,
    Optional: true,
    Default: {{ .Type.RSSchemaTemplateData.DefaultVal }},
{{- template "common_schema_attr_validators.go.tmpl" . }}
{{- else if eq .Type.RSSchemaTemplateData.Mode "Optional_Computed" }}
    Computed: true,
    Optional: true,
{{- template "common_schema_attr_validators.go.tmpl" . }}
{{- else if eq .Type.RSSchemaTemplateData.Mode "Computed_UseStateForUnknown" }}
    Computed: true,
    PlanModifiers: []{{ .Type.RSSchemaTemplateData.PlanModifierType }}{ {{ .Type.RSSchemaTemplateData.PlanModifierPkg }}.UseStateForUnknown() },
{{- else }}
    {{ .Type.RSSchemaTemplateData.Mode }}: true,
{{- if .Type.RequiresReplace }}
    PlanModifiers: []{{ .Type.RSSchemaTemplateData.PlanModifierType }}{ {{ .Type.RSSchemaTemplateData.PlanModifierPkg }}.RequiresReplace() },
{{- end }}    
{{- if ne .Type.RSSchemaTemplateData.Mode "Computed" }}
{{- template "common_schema_attr_validators.go.tmpl" . }}
{{- end }}
{{- end }}
{{- if .Deprecated }}
    DeprecationMessage: "This property will be removed in a future version.",
{{- end }}
{{- if .Type.RSSchemaTemplateData.Sensitive }}
    Sensitive: true,
{{- end }}
}