func resourceSchemaAttrs{{ .GoTypeName }}(recurse bool) map[string]rsschema.Attribute {
    schemaAttrs := make(map[string]rsschema.Attribute)
{{- range AdditionalObjectsProperties . }}
    if recurse {
        {{ template "resource_schema_attr.go.tmpl" . }}
    }
{{- end }}
{{- range AllDirectProperties . }}
    {{ template "resource_schema_attr.go.tmpl" . }}
{{- end }}
    return schemaAttrs
}