{{- define "tkhpropconvert" }}
{{- if .Property.Type.ToTKHAttrWithDiag }}
    {{ .Property.Type.TFToTKHGuard }}{
        val, d := {{ .Property.TFToTKH }}
        diags.Append(d...)
{{- if .Property.Type.ToTKHCustomCode .Type }}
        {{ .Property.Type.ToTKHCustomCode .Type }}
{{- else }}
        tflog.Debug(ctx, "Setting " + litter.Sdump(val) + " using {{ .Property.TKHSetter }}")
        tkh.{{ .Property.TKHSetter }}(val)
{{- end }}
{{- if .Property.IsDTypeRequired }}
        if val != nil {
            val.SetAdditionalData(map[string]any{"$type": "{{ .Property.Type.NestedType.APIDiscriminator }}"})
        }
{{- end }}
    }
{{- else }}
    tflog.Debug(ctx, "Setting " + litter.Sdump({{ .Property.TFToTKH }}) + " using {{ .Property.TKHSetter }}")
    tkh.{{ .Property.TKHSetter }}({{ .Property.TFToTKH }})
{{- end }}
{{- end }}
func tfObjectToTKH{{ .Suffix }}{{ .GoTypeName }}(ctx context.Context, recurse bool, planValues types.Object, configValues types.Object) ({{ .SDKTypeName }}, diag.Diagnostics) {
    var diags diag.Diagnostics
    var missingPlanValues = planValues.IsNull() || planValues.IsUnknown()
    var missingConfigValues = configValues.IsNull() || configValues.IsUnknown()
    if missingPlanValues && missingConfigValues {
        return nil, diags
    }

{{- $type := . }}
{{- if .AllProperties }}
    planAttrValues := make(map[string]attr.Value)
    if !missingPlanValues {
        planAttrValues = planValues.Attributes()
    }
    configAttrValues := make(map[string]attr.Value)
    if !missingPlanValues {
        configAttrValues = configValues.Attributes()
    }

    // avoids the "declared but not used" compiler errors since we don't know beforehand which one we need
    _, _ = planAttrValues, configAttrValues
    litter.Config.HidePrivateFields = false
    tflog.Debug(ctx, "planAttrValues: "+litter.Sdump(planAttrValues))
    tflog.Debug(ctx, "configAttrValues: "+litter.Sdump(configAttrValues))
{{- end }}
    var tkh {{ .SDKTypeName }}
    tkh = {{ .SDKTypeConstructor }}
{{- if .AllProperties }}
{{- range AllDirectProperties . }}
{{- if ne .TFToTKH "" }}
{{- template "tkhpropconvert" ToPropertyWithType . $type }}
{{- end }}
{{- end }}
{{- range AdditionalObjectsProperties . }}
{{- if ne .TFToTKH "" }}
    if recurse {
{{- template "tkhpropconvert" ToPropertyWithType . $type }}
    }
{{- end }}
{{- end }}
{{- end }}
    return tkh, diags
}
