{{- define "tfpropconvert" }}
{{- if .Type.ToTFAttrWithDiag }}
    {
{{- if .Type.TFAttrNeeded }}
        elemType := attrs["{{ .TFName }}"].({{ .Type.TFName }}Type).ElemType
{{- end }}
        {{ .Type.TKHToTFGuard -}}
        val, d := {{ .TKHToTF }}
        diags.Append(d...)
        {{- if eq .Type.FlattenMode "ItemsSet" }}
        obj["{{ .TFName }}"] = getItemsAttr(val, attrs["{{ .TFName }}"])
        {{- else if eq .Type.FlattenMode "AdditionalObjects" }}
        maps.Copy(obj, val.Attributes())
        {{- else }}
        obj["{{ .TFName }}"] = val
        {{- end }}
    }
{{- else if ne .TKHToTF "" }}
    obj["{{ .TFName }}"] = {{ .TKHToTF }}
{{- else }}
    ERROR in {{ .TFName }}
{{- end }}
{{- end }}
func tkhToTFObject{{ .Suffix }}{{ .GoTypeName }}(recurse bool, tkh {{ .SDKTypeName }}) (types.Object, diag.Diagnostics) {
    var diags diag.Diagnostics
    var attrs map[string]attr.Type
    if recurse {
        attrs = {{ .ObjectAttrTypesName }}{{ .Suffix }}Recurse
    } else {
        attrs = {{ .ObjectAttrTypesName }}{{ .Suffix }}
    }
    if tkh == nil {
        return types.ObjectNull(attrs), diags
    }

    obj := make(map[string]attr.Value)
{{- range AdditionalObjectsProperties . }}
    if recurse {
{{- template "tfpropconvert" . }}
    }
{{- end }}
{{- range AllDirectProperties . }}
{{- template "tfpropconvert" . }}
{{- end }}

    objVal, d := types.ObjectValue(attrs, obj)
    diags.Append(d...)
    return objVal, diags
}
